<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">L'Maui Waui</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="auth-hide"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
        <li class="auth-hide"><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li class="auth-show"><a href="/user/me"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li class="auth-show"><a href="/create"><span class="glyphicon glyphicon-pencil"></span> Create</a></li>
        <li class="auth-show"><a href="/user/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>