.length-1 {
  width: 20px;
}

.length-2 {
  width: 40px;
}

.length-3 {
  width: 60px;
}

.length-4 {
  width: 80px;
}

.length-5 {
  width: 100px;
}

.length-6 {
  width: 120px;
}

.length-7 {
  width: 140px;
}

.length-8 {
  width: 160px;
}

.length-9 {
  width: 180px;
}

.length-10 {
  width: 200px;
}

.length-11 {
  width: 220px;
}

.length-12 {
  width: 240px;
}

.length-13 {
  width: 260px;
}

.length-14 {
  width: 280px;
}

.length-15 {
  width: 300px;
}

.length-16 {
  width: 320px;
}