.fill-length-1 {
  width: 20px;
}

.fill-length-2 {
  width: 40px;
}

.fill-length-3 {
  width: 60px;
}

.fill-length-4 {
  width: 80px;
}

.fill-length-5 {
  width: 100px;
}

.fill-length-6 {
  width: 120px;
}

.fill-length-7 {
  width: 140px;
}

.fill-length-8 {
  width: 160px;
}

.fill-length-9 {
  width: 180px;
}

.fill-length-10 {
  width: 200px;
}

.fill-length-11 {
  width: 220px;
}

.fill-length-12 {
  width: 240px;
}

.fill-length-13 {
  width: 260px;
}

.fill-length-14 {
  width: 280px;
}

.fill-length-15 {
  width: 300px;
}

.fill-length-16 {
  width: 320px;
}