.melody-note-container {
  display: inline-block;
  height: 150px;
  background-color: gray;
  border-width: 1px;
  border-style: solid; 
  border-color: white;
}

.melody-octave-8 {
  position: relative;
  top: 15px;
}

.melody-octave-7 {
  position: relative;
  top: 30px;
}

.melody-octave-6 {
  position: relative;
  top: 45px;
}

.melody-octave-5 {
  position: relative;
  top: 60px;
}

.melody-octave-4 {
  position: relative;
  top: 75px;
}

.melody-octave-3 {
  position: relative;
  top: 90px;
}

.melody-octave-2 {
  position: relative;
  top: 105px;
}

.melody-octave-1 {
  position: relative;
  top: 120px;
}

.melody-letter {
  background-color: lightblue;
}