.melody-note-container {
  display: inline-block;
  height: 130px;
  background-color: gray;
  border-width: 1px;
  border-style: solid; 
  border-color: white;
}

.delete-melody-note {
  position: relative;
  top: 70px;
}

.melody-octave-8 {
  position: relative;
  top: 10px;
}

.melody-octave-7 {
  position: relative;
  top: 20px;
}

.melody-octave-6 {
  position: relative;
  top: 30px;
}

.melody-octave-5 {
  position: relative;
  top: 40px;
}

.melody-octave-4 {
  position: relative;
  top: 50px;
}

.melody-octave-3 {
  position: relative;
  top: 60px;
}

.melody-octave-2 {
  position: relative;
  top: 70px;
}

.melody-octave-1 {
  position: relative;
  top: 80px;
}

.melody-letter {
  background-color: lightblue;
}